- name: Update cache
  package:
    update_cache: yes
  become: yes

- name: Install station packages.
  package:
    name:
      - flameshot
      - qutebrowser
      - mpv
      - youtube-dl
      - isync
      - pass
      - msmtp
      - dunst
  become: yes

- name: Create directory for dunstrc
  file:
    path: "{{ config_dir }}/dunst"
    state: directory

- name: Link dunst terminal configuration file.
  file:
    src: "{{ anerenv_home }}/roles/station/files/dunstrc"
    dest: "{{ config_dir }}/dunst/dunstrc"
    state: link

- name: Install editor packages for Arch
  when: ansible_os_family == "Archlinux"
  block:
    - name: Install chromium-widevine from YAY
      command: yay -S chromium-widevine --nocleanmenu --nodiffmenu --noeditmenu --noupgrademenu --noconfirm

    - name: Check if polybar is installed
      command: polybar --version
      register: check_polybar_reg
      ignore_errors: true
      changed_when: check_polybar_reg.rc == 1
      failed_when: false

    - name: Install polybar from YAY
      when: check_polybar_reg.rc != 0
      command: yay -S polybar --nocleanmenu --nodiffmenu --noeditmenu --noupgrademenu --noconfirm

- name: Create directory for xfce4 terminal configuration.
  file:
    path: "{{ config_dir }}/xfce4/terminal"
    state: directory

- name: Link xfce4 terminal configuration file.
  file:
    src: "{{ anerenv_home }}/roles/station/files/terminalrc"
    dest: "{{ config_dir }}/xfce4/terminal/terminalrc"
    state: link

- name: Create directory for qutebrowser
  file:
    path: "{{ qutebrowser_dir }}"
    state: directory

- name: Link qutebrowser config
  file:
    src: "{{ anerenv_home }}/roles/station/files/qutebrowser-config.py"
    dest: "{{ qutebrowser_dir }}/config.py"
    state: link

- name: Link polybar-config
  file:
    src: "{{ anerenv_home }}/roles/station/files/polybar-config"
    dest: "{{ lazymacs_dir }}/polybar-config"
    state: link

- name: Create directory for mail
  file:
    path: "{{ anerenv_user_home }}/.mail"
    state: directory

