- name: Update cache
  package:
    update_cache: yes
  become: yes

- name: Install station packages.
  package:
    name:
      - flameshot
      - qutebrowser
      - mpv
      - youtube-dl
      - isync
      - pass
      - msmtp
      - dunst
      - slock
      - notmuch
      - xorg
      - xorg-xinit
      - feh
  become: yes

- name: Create directory for dunstrc
  file:
    path: "{{ config_dir }}/dunst"
    state: directory

- name: Link dunst terminal configuration file.
  file:
    src: "{{ anerenv_home }}/roles/station/files/dunstrc"
    dest: "{{ config_dir }}/dunst/dunstrc"
    state: link

- name: Install editor packages for Arch
  when: ansible_os_family == "Archlinux"
  block:
    - name: Install chromium-widevine from YAY
      command: yay -S chromium-widevine --nocleanmenu --nodiffmenu --noeditmenu --noupgrademenu --noconfirm

    - name: Check if polybar is installed
      command: polybar --version
      register: check_polybar_reg
      ignore_errors: true
      changed_when: check_polybar_reg.rc == 1
      failed_when: false

    - name: Install polybar from YAY
      when: check_polybar_reg.rc != 0
      command: yay -S polybar --nocleanmenu --nodiffmenu --noeditmenu --noupgrademenu --noconfirm

- name: Create downloads directory
  file:
    path: "{{ download_dir }}"
    state: directory

- name: Create directory for qutebrowser
  file:
    path: "{{ qutebrowser_dir }}"
    state: directory

- name: Create directory for qutebrowser userscripts
  file:
    path: "{{ qutebrowser_dir }}/userscripts"
    state: directory

- name: Link qutebrowser config
  file:
    src: "{{ anerenv_home }}/roles/station/files/qutebrowser-config.py"
    dest: "{{ qutebrowser_dir }}/config.py"
    state: link

- name: Link qutebrowser youtube subscriptions userscript
  file:
    src: "{{ anerenv_home }}/roles/station/files/yt-subs.sh"
    dest: "{{ qutebrowser_dir }}/userscripts/yt-subs.sh"
    mode: a+x
    state: link

- name: Link polybar-config
  file:
    src: "{{ anerenv_home }}/roles/station/files/polybar-config"
    dest: "{{ lazymacs_dir }}/polybar-config"
    state: link

- name: Create directory for mail
  file:
    path: "{{ anerenv_user_home }}/.mail"
    state: directory

- name: Create directory for gnupg if doesn't exist
  file:
    path: "{{ anerenv_user_home }}/.gnupg"
    state: directory

- name: Link GPG conf
  file:
    src: "{{ anerenv_home }}/roles/station/files/gpg-agent.conf"
    dest: "{{ anerenv_user_home }}/.gnupg/gpg-agent.conf"
    state: link

